/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*div {
  background-color: lightblue;
}*/
body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/04/27/36/33583b1dbdb74e5.jpg');
  background-size: cover;
}
.header {
  font-size: 60px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
/*form {
  border:1px solid black;
}*/
.tags {
  font-family: 'Great+Vibes', cursive;
  font-size: 24px;
}
.tag {
  border-width:5px;
  border-style: inset;
  font-size: 40px;
  font-family: 'Stalemate', cursive;
  height: 50%;
  width: 60%;
  font-weight: bold;
}
button {
  background-color: rgb(230,226,203);
  color:white;
  border-radius: 10px;
}
.event {
  border-width:5px;
  border-style: inset;
  font-size: 25px;
  font-family: 'Stalemate', cursive; 
  font-weight: bold; 
  height: 50px;
  width: 300px;
}
h2 {
  font-family: 'Great+Vibes', cursive;
  font-size:40px;
  margin:0px;
}
h1 {
  font-family: 'Great+Vibes', cursive;
}
a{
  color:black;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Stalemate',cursive;
  text-decoration: none;
}
.buttonTo {
  font-size: 14px;
  background-color: rgb(224, 220,202);
  border-radius: 10px;
  font-family: 'Great+Vibes', cursive;
  font-weight: bold;
}
.input {
  font-size: 18px;
  background-color: rgb(234,232,215);
  border-width: 4px;
  border-style:inset;
}