<!-- The edit page with the populated data -->
<center>
    <div>
        <h1>Edit My Event</h1>
        <%= render :partial => 'form' %>
            <%= link_to 'All My Events', events_path, :class =>'buttonTo' %>
    </div>
</center>